.app {
  text-align: center;
}

.src4 {
  height: 40vmin;
  pointer-events: none;
}

.app-header {
  background-color: var(--1bluegrey);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  font-family: ivypresto-headline, serif;
  font-weight: 100;
  font-style: normal;
  letter-spacing: 0.01em;
  font-size: calc(36px + 2vmin);
  color: var(--1mustard);
}

/* NotFound */

.app-body {
  padding: 16px 0 0 0;
  font-size: calc(8px + 2vmin);
}
