.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: var(--1bluegrey);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  font-family: ivypresto-headline, serif;
  font-weight: 100;
  font-style: normal;
  letter-spacing: 0.01em;
  font-size: calc(32px + 2vmin);
  color: var(--1mustard);
}
