:root {
  --bluegrey: #37474f;
  --mustard: #FAC505;
  --teal: #008BB4;
  --green: #4FA17E;
  --blk: #191919;
  --wht: #EDEDED;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
